body {
  font-family: Arial, sans-serif;
  background-color: #ddd;
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  padding: 10px 0;
  height: 34px;
  display: flex;
  align-items: center; /* Vertically center align items */
  justify-content: space-between;
  background-color: #333;
  border-radius: 20px;
}
header .logo {
  width: 20vw;
  max-width: 260px;
  border-radius: 2px;
  border: 4px solid #0e476e;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 65px;
  border-radius: 10px;
}
header .logo:hover {
  background-color: #e74c3c;
  color: #333; /* Change text color on hover */
  transition: background-color 0.66s ease;
  cursor: pointer;
}
header .aba {
  width: 65px;
  border-radius: 2px;
  border: 2px solid #333;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  padding: 0px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  position: relative;
  left: 6px;
  border-radius: 10px;
}
header .aba:hover {
  background-color: #e74c3c;
  color: #333; /* Change text color on hover */
  transition: background-color 0.66s ease;
  cursor: pointer;
}
header nav {
  display: flex;
  flex-direction: row;
}
header .AboutProjButton {
  width: 100px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  line-height: 66px;
  margin-top: 9px;
  color: #ddd;
  border-radius: 20px;
  border: 2px solid #0e476e;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  position: relative;
}
header .AboutProjButton:hover {
  transition: background-color 0.66s ease;
  cursor: pointer;
}
header .AboutProjButton:hover:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.dropdown {
  color: #333;
  display: flex;
  padding: 5px;
}
.dropdown button {
  background-color: #333;
  color: #ddd;
  border: none;
  padding: 10px 20px;
  margin-block: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.66s ease;
  height: 44px;
  width: 80px;
  border-radius: 20px;
  border: 2px solid #0e476e;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
}
.dropdown button:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.dropdown .dropdown-menu {
  background-color: #ddd;
  font-family: Arial, sans-serif;
  opacity: 0.9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 54px;
  right: 0;
  animation: fadeIn 0.66s;
  animation-fill-mode: forwards;
  border-radius: 15px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown .dropdown-menu li {
  text-align: center;
  border: 0px solid #ddd;
  padding: 10px 0;
  margin: 0;
}
.dropdown .dropdown-menu li:hover {
  background-color: #e74c3c;
  color: #333; /* Change text color on hover */
  transition: background-color 0.66s ease;
  border-radius: 20px;
  cursor: pointer;
}
.dropdown .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.popup-modal {
  position: fixed;
  width: 60%;
  height: 75%;
  top: 10%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding: 10px; /* Padding inside the popup box */
  margin: 0 auto; /* Center the popup box horizontally */
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  animation: fadeIn 0.66s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.popup-modal .popup-content {
  /* Enable vertical scrolling when content overflows */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ddd;
}
.popup-modal h3 {
  font-size: 36px; /* Font size for the heading */
  margin-bottom: 10px; /* Spacing below the heading */
  color: #ddd;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}
.popup-modal p {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ddd;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}
.popup-modal li {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}
.popup-modal h5 {
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  padding-bottom: 20px;
}
.popup-modal button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  display: block;
}
.popup-modal button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

*:focus {
  outline: none;
}

.linkedIn {
  width: 40px;
}

.github {
  width: 40px;
}

main {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
main h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
main p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
main ul {
  list-style: none;
  margin: 0 0 20px 0;
}
main ul li {
  margin: 0 0 10px 0;
}

.about {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
.about h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.about p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.about ul {
  list-style: none;
  margin: 0 0 20px 0;
}
.about ul li {
  margin: 0 0 10px 0;
}

.easter {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
.easter h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.easter p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.easter ul {
  list-style: none;
  margin: 0 0 20px 0;
}
.easter ul li {
  margin: 0 0 10px 0;
}

.intro .video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 20px;
  animation: fadeIn 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro .video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.intro .introButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.intro button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  display: block;
  margin-top: 20px;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
.intro button:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.intro h2 {
  max-width: 70%;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
.results h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.results p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.results ul {
  list-style: none;
  margin: 0 0 20px 0;
}
.results ul li {
  margin: 0 0 10px 0;
}

.visible {
  opacity: 1;
  transition: opacity 0.33s ease-out;
}

.hidden {
  opacity: 0;
  transition: opacity 0.33s ease-out;
}

.formContainer {
  padding: 20px;
  color: #333;
  background-color: #ddd;
  display: flex;
  align-items: center;
  height: 100% auto;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.formContainer h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.formContainer p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.formContainer ul {
  list-style: none;
  margin: 0 0 20px 0;
}
.formContainer ul li {
  margin: 0 0 10px 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formImage {
  width: 40%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  animation: fadeIn 6s;
  animation-fill-mode: forwards;
  height: auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formImage img {
  max-width: 100%;
  height: auto;
}

.title-text {
  /* Add styles for title text */
  word-wrap: break-word; /* Wrap text to prevent overflow */
  text-align: center; /* Center-align text */
  font-size: 2vmax;
  font-weight: bold;
  color: #ddd;
  background-color: #0e476e;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title-text:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.text-boxes {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.explanation-text,
.input-text,
.formButton {
  margin-bottom: 20px;
}

.typewriter-wrapper {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.typewriter-wrapper h1 {
  animation: type 3s 0.4s steps(30, end) forwards, blink 0.66s step-end infinite;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5vmax;
  position: relative;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  width: 0;
  border-right: 1px solid #333;
}

@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
.explanation-text, .input-text, .formButton {
  animation: fadeIn 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-text input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
}
.input-text input:hover {
  border: 3px solid #0e476e;
}
.input-text input:focus {
  border: 4px solid #0e476e;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.formButton button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  display: block;
}
.formButton button:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.formButton a {
  color: #0e476e;
  text-decoration: none;
}
.formButton a:hover {
  color: #e74c3c;
}

.results-container {
  max-width: 1200px; /* Adjusted for a wider layout */
  margin: auto;
  padding: 20px;
  text-align: center;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results-title {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.top-matches, .highlight-section {
  flex: 1; /* Each takes equal space */
  margin: 0 10px; /* Spacing between the two sections */
  padding: 20px;
  border: 1px solid #ccc; /* Optional: adds a border around each section */
  border-radius: 5px; /* Optional: rounds corners of the border */
}

.matches-list {
  list-style: none;
  padding: 0;
}

.match-item {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.highlight-details p {
  font-size: 1.1em;
  margin: 10px 0;
}

strong {
  color: #555;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }
  .top-matches, .highlight-section {
    margin: 10px 0; /* Adjusts spacing for vertical layout */
    width: 100%; /* Makes each section full width */
  }
}
.editButton button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80px;
  height: 40px;
}
.editButton button:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.editWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  margin-left: 20px;
  animation: fadeIn 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.editWrapper .question-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.editWrapper .question-title {
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}
.editWrapper .input-container {
  display: flex;
  position: fixed;
  left: 270px;
}
.editWrapper .editInput1, .editWrapper .editInput2 {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 10px;
}
.editWrapper .editInput1:hover, .editWrapper .editInput2:hover {
  border: 3px solid #0e476e;
}
.editWrapper .editInput1:focus, .editWrapper .editInput2:focus {
  border: 4px solid #0e476e;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.editWrapper .editInput2 {
  margin-left: 25px;
}
.editWrapper button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  margin-bottom: 20px;
}
.editWrapper button:hover {
  background-color: #0056b3; /* Button background color on hover */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
}
footer p {
  font-size: 14px;
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
