body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0e476e;
  padding: 10px 0;
}
header h1 {
  font-size: 24px;
  color: #ddd;
  text-align: center;
  margin: 0;
}
header .titleContainer {
  width: 15%;
  margin: 0 auto;
}

.extendedHeader {
  background-color: #0e476e;
  height: 9vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  text-decoration: none;
  color: #0e476e;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #e74c3c;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: #333;
}
.dropdown button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  right: 0;
  top: 0;
  height: 66px;
  width: 80px;
}
.dropdown button:hover {
  background-color: #e74c3c;
}
.dropdown .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #ddd;
  font-family: Arial, sans-serif;
  opacity: 0.9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 46px;
  z-index: 1;
}
.dropdown .dropdown-menu li {
  text-align: center;
  border: 0px solid #ddd;
  padding: 10px 0;
  margin: 0;
}
.dropdown .dropdown-menu li:hover {
  background-color: #e74c3c;
  color: #333; /* Change text color on hover */
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.dropdown .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.popup-modal {
  position: fixed;
  width: 60%;
  height: 75%;
  top: 10%;
  left: 20%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding: 10px; /* Padding inside the popup box */
  margin: 0 auto; /* Center the popup box horizontally */
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}
.popup-modal .popup-content {
  /* Enable vertical scrolling when content overflows */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ddd;
}
.popup-modal h3 {
  font-size: 36px; /* Font size for the heading */
  margin-bottom: 10px; /* Spacing below the heading */
  color: #ddd;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}
.popup-modal p {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ddd;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}
.popup-modal li {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
}
.popup-modal h5 {
  padding-left: 20px;
  text-align: left;
  font-size: 16px;
  padding-bottom: 20px;
}
.popup-modal button {
  background-color: #0e476e;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80px;
  height: 40px;
  margin: 0 auto;
  display: block;
}
.popup-modal button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

.aba {
  width: 3.9%;
  margin: 0 auto;
  border-radius: 2px;
  border: 2px solid #333;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  padding: 5px;
  background-color: #ddd;
  position: fixed;
  left: 0;
  top: 0;
}

.AboutProjButton {
  position: fixed;
  right: 120px;
  top: 0;
  width: 120px;
  height: 66px;
  font-weight: bold;
  background-color: #0e476e;
  text-align: center;
  font-size: 16px;
  line-height: 66px;
  color: #ddd;
}
.AboutProjButton:hover {
  background-color: #e74c3c;
  color: #333; /* Change text color on hover */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.AboutProj h1 {
  color: #ddd;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.AboutProj p {
  color: #ddd;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

*:focus {
  outline: none;
  border: 2px solid #e74c3c;
}

main {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
main h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
main p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
main ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
main ul li {
  margin: 0 0 10px 0;
}

.about {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
.about h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.about p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.about ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.about ul li {
  margin: 0 0 10px 0;
}

.easter {
  padding: 20px;
  color: #333;
  background-color: #ddd;
}
.easter h1 {
  font-size: 24px;
  margin: 0 0 20px 0;
}
.easter p {
  font-size: 16px;
  margin: 0 0 20px 0;
}
.easter ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.easter ul li {
  margin: 0 0 10px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
footer p {
  font-size: 14px;
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
