// Variables
$primary-color: #0e476e;
$secondary-color: #e74c3c;
$basically-white: #ddd;
$basically-black: #333;
$font-family: Arial, sans-serif;

@mixin main-content {
  padding: 20px;
  //text and background color
  color: $basically-black;
  background-color: $basically-white;
  //h, p, and ul styled
  h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
  }
  p {
    font-size: 16px;
    margin: 0 0 20px 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    li {
      margin: 0 0 10px 0;
    }
  }
}

// Global styles
body {
  font-family: $font-family;
  background-color: $basically-white;
  color: $basically-black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


// Header
header {
  background-color: $primary-color;
  padding: 10px 0;
  //size
  height: 54px;
  display: flex;
  align-items: center; /* Vertically center align items */
  justify-content: space-between;
  
  .logo {
    //size and placement centered
    width: 50px;
    //border
    border-radius: 2px;
    border: 2px solid $basically-black;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
    //padding
    padding: 5px;
    //background
    background-color: $basically-white;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
      background-color: $secondary-color;
      color: #333; /* Change text color on hover */
      transition: background-color 0.3s ease;
      cursor:pointer;
    }
  }

  .aba{
    //size and placement centered
    width: 52px;
    //border
    border-radius: 2px;
    border: 2px solid $basically-black;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
    //padding
    padding: 5px;
    //background
    background-color: $basically-white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-start;
    position:relative;
    left: 4px;


    &:hover {
      background-color: $secondary-color;
      color: #333; /* Change text color on hover */
      transition: background-color 0.3s ease;
      cursor:pointer;
    }
  }

  nav{
    display: flex;
    //items in row
    flex-direction: row;
    //position relatively top right of header using flex
  }
  
  .AboutProjButton{
    //size
    width: 120px;
    height: 66px;
    //bold
    font-weight: bold;
    text-decoration: none;
    //background
    background-color: $primary-color;
    //text
    text-align: center;
    font-size: 16px;
    //text color
    line-height:66px;
    //center in header
    margin-top: 4px;

  
    color: $basically-white;
    //hover
    &:hover {
      background-color: $secondary-color;
      color: #333; /* Change text color on hover */
      transition: background-color 0.3s ease;
      cursor:pointer;
    }
  }

  .extendedHeader{
    //make div primary color and fill upwards beyond page
    background-color: $primary-color;
    height: 500px;
    //width of the header
    width: 100%;
    top: 0px;
    left: 0;
    z-index: -3;
    //position above the screen
    position: fixed;
  }
}


.dropdown {
  color: $basically-black;
  display:flex;
  padding: 5px;



  button{
    background-color: $primary-color;
    color: $basically-white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    //adjust size to fill header
    height: 66px;
    width: 80px;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .dropdown-menu{
    background-color: $basically-white;
    font-family: $font-family;
    opacity: 0.9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    //no bullets
    list-style-type: none;
    //no space where the bullets were
    padding: 0px;
    margin: 0px;
    position: fixed;
    top: 74px;
    right:  0;


    li {
      text-align: center;
      border: 0px solid #ddd;
      padding: 10px 0;
      margin: 0;
    }

    li:hover {
      background-color: $secondary-color;
      color: #333; /* Change text color on hover */
      transition: background-color 0.3s ease;
      cursor:pointer;
    }
    
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
  
    }
  }
}

.popup-modal{
  position: fixed;
  width: 60%;
  height: 75%;
  top: 10%;
  left: 20%;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;

  padding: 10px; /* Padding inside the popup box */
  margin: 0 auto; /* Center the popup box horizontally */
  //border
  border-radius: 10px;
  border: 2px solid $basically-black;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
  overflow-y: auto;
  //fade in on opening
  animation: fadeIn 0.66s;
  animation-fill-mode: forwards;
  //animation
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .popup-content{
    //have all text and button centered
     /* Enable vertical scrolling when content overflows */
     //flexbox and center
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $basically-white;
  }

  h3 {
    font-size: 36px; /* Font size for the heading */
    margin-bottom: 10px; /* Spacing below the heading */
    color: $basically-white;
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
    //align center
    text-align: center;
  }

  p{
    font-size: 24px;
    margin-bottom: 10px;
    color: $basically-white;
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
    //align center
    text-align: center;
  }

  li{
    //align on the right
    text-align: left;
    //no bullets
    list-style-type: none;
    //padding
    padding: 0px;
    font-size: 20px;

  }

  h5{
    //indent slightly and reduce padding
    padding-left: 20px;
    //align left
    text-align: left;
    font-size: 16px;
    //some padding between each line of text
    padding-bottom: 20px;

  }

  button{
    background-color: $primary-color;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    //add padding
    padding: 10px 20px;
    //rounded
    border-radius: 10px;
    margin-top: 20px;
    //size
    width: 80px;
    height: 40px;
    //align center
    margin: 0 auto;
    display: block;
  }

  button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
}




*:focus {
  outline: none;
}

.linkedIn{
  width:40px;
}
.github{
  width:40px;
}



// Main Page
main {
  @include main-content;
}

//AboutProj Page
.about {
  @include main-content;
}

//EasterEgg Page
.easter{
  @include main-content;
}

//Intro Component
.intro{
  .video {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}


// Footer
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;

  p {
    font-size: 14px;
    margin: 0;
  }
}