// Variables
$primary-color: #0e476e;
$secondary-color: #e74c3c;
$basically-white: #ddd;
$basically-black: #333;
$font-family: Arial, sans-serif;

// Global styles
body {
  font-family: $font-family;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}


// Header
header {
  background-color: $primary-color;
  padding: 10px 0;
  h1 {
    font-size: 24px;
    color: $basically-white;
    text-align: center;
    margin:0;
  }

  .titleContainer{
    //make div 20% width of header
    width: 15%;
    //center within header
    margin: 0 auto;
  }

}



// Navigation
nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    li {
      margin: 0 20px;
      a {
        text-decoration: none;
        color: $primary-color;
        transition: color 0.3s ease;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  color: $basically-black;
  


  button{
    background-color: $primary-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    position:fixed;
    right:0;
    top:0;

    //adjust size to fill header
    height: 66px;
    width: 80px;



    &:hover {
      background-color: $secondary-color;
    }
  }

  .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: $basically-white;
    font-family: $font-family;
    opacity: 0.9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    top: 46px;
    z-index: 1;


    li {
      text-align: center;
      border: 0px solid #ddd;
      padding: 10px 0;
      margin: 0;
    }



    li:hover {
      background-color: $secondary-color;
      color: #333; /* Change text color on hover */
      transition: background-color 0.3s ease;
      cursor:pointer;
    }
    
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
  
    }
  }
}

.popup{
  position: fixed;
  width: 60%;
  height: 75%;
  top: 10%;
  left: 20%;
  background-color: rgba(0,0,0,0.9);
  z-index: 1;

  padding: 20px; /* Padding inside the popup box */
  margin: 0 auto; /* Center the popup box horizontally */
  //border
  border-radius: 10px;
  border: 2px solid $basically-black;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
  display: flex;
  //have all text and button centered



  .popup-content {
    max-height: 80vh; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  
    /* Additional styling for the popup content */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scrollable-content {
    /* Optional styling for the scrollable content */
    /* You can customize this to match your design */
    font-size: 60px;
    color: $basically-white;
  }

  h3 {
    font-size: 36px; /* Font size for the heading */
    margin-bottom: 10px; /* Spacing below the heading */
    color: $basically-white;
    text-shadow: 0 0 10px rgba(255,255,255,0.2);
  }

  button{
    background-color: $primary-color;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    //add padding
    padding: 10px 20px;
    //rounded
    border-radius: 10px;
    margin-top: 20px;
    //size
    width: 80px;
    height: 40px;
    //use flex to position center of the bottom of the container

  }

  button:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
}

.aba{
  //size and placement centered
  width: 3.9%;
  margin: 0 auto;
  //border
  border-radius: 2px;
  border: 2px solid $basically-black;
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
  //padding
  padding: 5px;
  //background
  background-color: $basically-white;
  //Upper left corner with some padding
  position:fixed;
  left:0;
  top:0;

}

.AboutProjButton{
  //move to upper right next to dropdown
  position:fixed;
  right:120px;
  top:0;
  //size
  width: 120px;
  height: 66px;
  //bold
  font-weight: bold;

  //background
  background-color: $primary-color;
  //text
  text-align: center;
  font-size: 16px;
  //text color
  //centered vertically within the header
  line-height: 66px;

  color: $basically-white;
  //hover
  &:hover {
    background-color: $secondary-color;
    color: #333; /* Change text color on hover */
    transition: background-color 0.3s ease;
    cursor:pointer;
  }

}

.AboutProj{
  //h1 and p styled and colored
  h1{
    color: $basically-white;
    font-size: 24px;
    text-align: center;
    margin:0;
  }
  p{
    color: $basically-white;
    font-size: 16px;
    text-align: center;
    margin:0;
  }

}

// Main content
main {
  padding: 20px;
}



// Footer
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;

  p {
    font-size: 14px;
    margin: 0;
  }
}