// Dropdown button styles
.dropdown-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
    svg {
      margin-right: 5px;
    }
  
    &:hover {
      background-color: #2980b9;
    }
  }
  
  // Dropdown menu styles
  .dropdown-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
  
    li {
      padding: 10px;
      cursor: pointer;
  
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  
  // Dropdown container styles
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  
    &:hover .dropdown-menu {
      display: block;
    }
  }
  